body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    text-align: center;
}
.section {
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}
.section-1 {
    background-color: #F5EEF5;
    text-align: left;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.section-1 h1 {
    font-size: 2.5rem; /* Hace que el texto sea más grande */
}
.section-2, .section-3, .section-4 {
    text-align: center;
}
.card {
    flex: 1;
    padding: 20px;
    max-width: 50%;
}
.image-container {
    flex: 1;
    max-width: 50%;
}
.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
.footer {
    background-color: #000;
    color: white;
    padding: 40px;
    text-align: center;
}
.footer-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    text-align: left;
}
@media (max-width: 768px) {
    .section {
        flex-direction: column;
        align-items: center;
    }
    .card, .image-container {
        max-width: 100%;
    }
}